<div class="m-3">
  <button type="button" class="btn btn-primary" (click)="downloadXslx()">
    Download XLSX
  </button>
</div>
<div class="m-3">
  <button type="button" class="btn btn-primary" (click)="downloadXslxConvertido()">
    Download XLSX convertido
  </button>
</div>

<form>
  <div class="mb-3">
    <label for="logo" class="form-label">img logo</label>
    <input
      id="logo"
      type="file"
      class="form-control"
      accept="image/jpeg"
      (change)="onLogoChange($event)"
    />
  </div>
</form>

<div #viewer id="viewer" style="background-color: white; color: black;"></div>
